<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arendators</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<div class="container">
    <div class="row" id="appSummary">
        <div class="col text-center">
            <h1>Информация о клиенте:</h1>
            <h3><i>{{ name }}</i></h3>

            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                {% for k in data %}
                <th>
                    {{k}}
                </th>
                {% endfor %}
                </thead>
                {% for k in result %}
                <tr>
                    {% for c in k %}
                    <th>{{k[c]}}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-outline-dark" href="{{url_for('user_app.user_sql3')}}" role="button">Назад</a>
        </div>
    </div>
</div>
</body>
</html>