<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
</head>
<body>
<div class="container">
    <div class="row" id="appSummary">
        <div class="col text-center">
            <h1 align=center>
                Выберите необходимую операцию

                <br>
                <a class="btn btn-outline-dark" href="{{url_for('insert.client')}}" role="button">Добавить клиента в
                    базу</a>
                <br>
                <a class="btn btn-outline-dark" href="{{url_for('insert.order')}}" role="button">Оформление договора</a>
                <br>
                <a class="btn btn-outline-dark" href="{{url_for('insert.bilboards')}}" role="button">Добавление или
                    удаление билбордов</a>

                <br>
                <a class="btn btn-outline-dark" href="/" role="button">Назад</a>
            </h1>
        </div>
    </div>
</div>
</body>

</html>