<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
</head>
<body>

<h1 align=center>
    Главное меню
    <br>
    <a class="btn btn-outline-dark" href="/auth/login" role="button">Авторизация</a>
    <br>
    <a class="btn btn-outline-dark" href="/user" role="button">Меню запросов</a>
    <br>
    <a class="btn btn-outline-dark" href="/insert" role="button">Добавить или удалить данные</a>
    <br>
    <a class="btn btn-outline-dark" href="/basket" role="button">Оформление заказа</a>
    <br>
    <a class="btn btn-outline-dark" href="/logout" role="button">Завершить работу</a>

</h1>
</body>
</html>